<table class="local-proctoring-table">
  <thead><tr><th>Estudiante</th><th>Cuestionario</th><th>Estado</th><th>Alertas</th></tr></thead>
  <tbody>{{#attempts}}<tr data-sessionid="{{id}}"><td>{{studentname}}</td><td>{{quizname}}</td><td>{{status}}</td><td>{{openalerts}}</td></tr>{{/attempts}}</tbody>
</table>
